  <a href="/admin"><button class='btn btn-primary'>Back</button></a>

  <form action="/admin/train" method="post">
    <h3>Register a New Train:</h3>
    <button class='btn btn-success' type="submit">Confirm to Register a New Train</button>
  </form>
